body {
  margin:0;
  background-color: #f4f4f4;
}
p{
  margin:0;
}
.top{
  margin-top: 0;
  background-color: purple;
}

.main{
  display: inline-block;

}
.left{
  background-color: yellow;
  display: inline-block;
  float: left;
  width: 200px;
}

.bottom{
  background-color: orange
}

.right{
  background-color: tomato;
  height: 400px;
  width: 600px;
  display: inline-block;
  float: right;
}

.parent {
  width: 800px;
  margin: auto;
}
